<div class="header bg-gradient-danger py-7 py-lg-8">
  <div class="container">
    <div class="header-body text-center mb-7">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-6">
          <h1 class="text-white">Welcome to EventTracker !</h1>
          <p class="text-lead text-light"> World's number one event tracking app where you can join events all over the globe</p>
        </div>
      </div>
    </div>
  </div>
  <div class="separator separator-bottom separator-skew zindex-100">
    <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
      <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
</div>
<!-- Page content -->
<div class="container mt--8 pb-5">
  <div class="row justify-content-center">
    <div class="col-lg-5 col-md-7">
      <div class="card bg-secondary shadow border-0">
 
        <div class="card-header bg-transparent pb-5">
          <div class="text-muted text-center mt-2 mb-3"><h4>Sign in</h4></div>
         
        <div class="card-body px-lg-5 py-lg-5">
          <div class="text-center text-muted mb-4">
            <small>Please Enter Your Credentials</small>
          </div>
          <form (ngSubmit)="validateUser(loginForm)"  role="form" #loginForm="ngForm">
            <div class="form-group mb-3">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                </div>
                <input class="form-control" type="email" name="email" id="email" placeholder="Email" required
                pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"    
                [(ngModel)]="model.userEmail" #email="ngModel">
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                </div>
                <input class="form-control" type="password" name="password" placeholder="Password" id="password" required
                [(ngModel)]="model.userPassword" #password="ngModel" minlength="5">
              </div>
            </div>
            <div class="custom-control custom-control-alternative custom-checkbox">
              <input class="custom-control-input" id=" customCheckLogin" type="checkbox">
              <label class="custom-control-label" for=" customCheckLogin">
                <span class="text-muted">Remember me</span>
              </label>
            </div>
            <div class="text-center">
              <button type="button" class="btn btn-primary my-4" type="submit">Sign in</button>
            </div>
          </form>
          

        </div>
      </div>
      <div class="row mt-3">
        <div class="col-6">
          <a class="mt-8 text-center" [routerLink]="['/register']">
            <h4>
              Don't have an account ?
            </h4>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
