<footer class="footer">
  <div class="row align-items-center justify-content-xl-between">
    <div class="col-xl-6">
      <div class="copyright text-center text-xl-left text-muted">
        &copy; {{ test | date: "yyyy" }} <a href="https://www.linkedin.com/in/canberk-aydemir/" class="font-weight-bold ml-1" target="_blank">Canberk Aydemir</a>
      </div>
    </div>
    <div class="col-xl-6">
      <ul class="nav nav-footer justify-content-center justify-content-xl-end">
        <li class="nav-item">
          <a href="https://www.linkedin.com/in/canberk-aydemir/" class="nav-link" target="_blank">Canberk Aydemir</a>
        </li>
        <li class="nav-item">
          <a href="https://github.com/cnbrkaydemir" class="nav-link" target="_blank">Github</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
