<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 600px;">
        
        <span class="mask bg-gradient-danger opacity-8"></span> 
        <!-- Header container -->
        <div class="container-fluid d-flex align-items-center">
          <div class="row">
            <div class="col-lg-7 col-md-10">
              <h1 class="display-2 text-white">Why not create  a new event !</h1>
              <p class="text-white mt-0">This is the event creation page where you can create new events and add various people to your meetings</p>
              
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid mt--7">
        <div class="row" >
          <div class="col-xl-8 order-xl-1">
            <div class="card bg-secondary shadow">
              <div class="card-header bg-white border-0">
                <div class="row align-items-center">
                  <div class="col-8">
                    <h3 class="mb-0">Handle Your Events</h3>
                  </div>
                  
                </div>
                <div class="card-body">
                  <form (ngSubmit)="eventForm.valid && newEvent(eventForm)" #eventForm="ngForm">
                    <h6 class="heading-small text-muted mb-4">Create New Event</h6>
                    <div class="pl-lg-4">
                      <div class="row">
                        <div class="col-lg-8">
                          <div class="form-group">
                            <label class="form-control-label" for="event-title">Event Title</label>
                            <input type="text" id="event-title" class="form-control form-control-alternative" [(ngModel)]="model.eventTitle" placeholder="Title" >
                          </div>
                        </div>
                        <div class="col-lg-8">
                          <div class="form-group">
                            <label class="form-control-label" for="event-desc">Event Description</label>
                            <textarea class="form-control" id="event-desc" rows="3" [(ngModel)]="model.eventDescription"></textarea>                    
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-6">
                          <div class="form-group">
                            <label class="form-control-label" for="start-date">Start Date</label>
                            <input type="date" id="start-date" class="form-control form-control-alternative" [(ngModel)]="model.eventDate" placeholder="Select Start Date">
                          </div>
                        </div>
                        <div class="col-lg-6">
                          <div class="form-group">
                            <label class="form-control-label" for="end-date">End Date</label>
                            <input type="date" id="end-date" class="form-control form-control-alternative" [(ngModel)]="model.eventExpired" placeholder="Last name">
                          </div>
                        </div>
                      </div>
                    </div>
                    <hr class="my-4" />
                    <div class="form-group justify-content-center">
                      <button class="btn btn-danger" type="submit" >Create Event</button>
                    </div>
                    <hr class="my-4" />
                    <!-- Description -->
                    
                    <div class="pl-lg-4">
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
          
</body>
</html>



